<!-- footer -->
<footer class="bg-primary">
    <div class="container-fluid footer">
        <div class="d-flex justify-between footer-content">
            <div>
                <ul class="d-flex footer-nav">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="optical.html">系列鏡框</a></li>
                    <li><a href="stronghold.html">門市據點</a></li>
                    <li><a href="blog.html">部落格</a></li>
                    <li><a href="qa.html">常見問題</a></li>
                </ul>
                <div class="fs-9 fs-sm-4">
                    <a class="mb-2" href="tel:+0800-000-000">
                        <span class="material-symbols-outlined footer-icon">
                            call
                        </span>
                        0800-000-000
                    </a>
                    <br>
                    <a href="mailto:glasses@business.com">
                        <span class="material-symbols-outlined footer-icon">
                            mail
                        </span>
                        glasses@business.com
                    </a>
                </div>
            </div>
            <div class="footer-community">
                <a class="footer-social" href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a>
                <a class="footer-social" href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a>
                <a class="footer-social" href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a>
            </div>
        </div>
        <div class="d-flex justify-between flex-sm-column">
            <p class="text-white mb-sm-2">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="d-flex flex-sm-column footer-list">
                <li class="mb-sm-2"><a class="fs-small fs-sm-4" href="#">隱私權政策</a></li>
                <li class="mb-sm-2"><a class="fs-small fs-sm-4" href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
 </footer>