<!-- nav -->
<nav class="bg-primary">
    <div class="container-fluid d-flex justify-between align-center flex-wrap">
        <div class="nav-logo py-3">
            <a href="index.html"><img src="../assets/images/logo-white.png" alt="logo" width="80px"></a>
        </div>
        <ul class="d-flex flex-wrap align-center nav">
            <li class="nav-list"><a class="fs-5 fs-sm-4" href="optical.html">系列鏡框</a></li>
            <li class="nav-list"><a class="fs-5 fs-sm-4" href="stronghold.html">門市據點</a></li>
            <li class="nav-list"><a class="fs-5 fs-sm-4" href="blog.html">部落格</a></li>
            <li class="nav-list"><a class="fs-5 fs-sm-4" href="qa.html">常見問題</a></li>
        </ul>
    </div>
</nav>