<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>情人節特別企劃｜眼鏡官網</title>
</head>

<body>
    <%- include('./layout/nav'); -%>
        <nav class="bg-aide mb-6">
            <div class="container-fluid">
                <div class="d-flex justify-between justify-sm-center align-center py-3">
                    <ul class="d-flex blog-nav">
                        <li><a class="fs-5 fs-sm-4 font-bold" href="#">最新消息</a></li>
                        <li><a class="fs-5 fs-sm-4 font-bold" href="#">特別企劃</a></li>
                        <li><a class="fs-5 fs-sm-4 font-bold" href="#">新品上市</a></li>
                        <li><a class="fs-5 fs-sm-4 font-bold" href="#">鏡框小知識</a></li>
                    </ul>
                    <div class="d-sm-none">
                        <a href="#" class="d-flex">
                            <span class="material-symbols-outlined" style="width: 30px; height: 30px;">
                                search
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </nav>
        <div class="container">
            <a class="text-dark" href="index.html">首頁</a>
            <span>/</span>
            <a class="text-dark" href="blog.html">部落格</a>
            <span>/</span>
            <a class="text-dark" href="#">特別企劃</a>
            <span>/</span>
            <a class="text-primary mb-2" href="article.html">情人節特別企劃</a>
            <div class="d-flex fs-6 font-bold text-primary mb-2">
                <p class="mr-4">#special</p>
                <p>#event</p>
            </div>
        </div>
        <article class="container">
            <div class="row">
                <div class="col-8 col-md-9 col-sm-12">
                    <h1 class="fs-12">情人特別企劃</h1>
                    <h2 class="fs-6 mb-4">2020 Valentine’s Special</h2>
                    <div class="mb-10 mb-md-6 mb-sm-4">
                        <img class="mb-2 mb-md-4 mb-sm-2" src="../assets/images/blogpage-1.png" alt="blog">
                        <p class="text-gloomy">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                    <div class="mb-10 mb-md-6 mb-sm-4">
                        <img class="mb-2 mb-md-4 mb-sm-2" src="../assets/images/blogpage-2.png" alt="blog">
                        <p class="text-gloomy">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                    <div class="mb-10 mb-md-6 mb-sm-4">
                        <img class="mb-2 mb-md-4 mb-sm-2" src="../assets/images/blogpage-3.png" alt="blog">
                        <p class="text-gloomy">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                    <div class="mb-10 mb-md-6 mb-sm-12">
                        <img class="mb-2 mb-md-4 mb-sm-2" src="../assets/images/blogpage-4.png" alt="blog">
                        <p class="text-gloomy">
                            2/14(五)-2/20(日)<br>
                            至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br>
                            期間優惠還有~~持他牌鏡框更換鏡片<br>
                            薄型非球面鏡片折300元<br>
                            濾藍光鏡片折500元<br>
                            快快帶上另一半<br>
                            讓彼此每一次睜開眼，都被愛的視線包圍!
                        </p>
                    </div>
                    <div class="d-sm-none">
                        <div class="d-flex align-center blog-link pb-4 mb-6">
                            <a class="font-bold text-dark" href="#">Share</a>
                            <a href=""><img src="../assets/images/logo-facebook.png" alt="fb"></a>
                            <a href=""><img src="../assets/images/logo-instagram.png" alt="ig"></a>
                        </div>
                        <div class="d-flex justify-between mb-20">
                            <a class="d-flex text-dark" href="#">
                                <span class="material-symbols-outlined mr-3">
                                    arrow_back
                                </span>
                                <p>上一篇：街頭潮人訪問 1</p>
                            </a>
                            <a class="d-flex text-dark" href="#">
                                <p class="mr-3">下一篇：街頭潮人訪問 2</p>
                                <span class="material-symbols-outlined">
                                    arrow_forward
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-3 d-sm-none">
                    <div class="text-primary font-bold">
                        <div class="d-flex align-center fs-8 fs-md-4 mb-1">
                            <span class="material-symbols-outlined fs-8 fs-md-4 font-bold">
                                label
                            </span>
                            <h2>TAGS</h2>
                        </div>
                        <div class="fs-6 fs-md-4">
                            <span class="mr-6 mr-md-4 mb-1">#special</span>
                            <span>#sale</span>
                            <br>
                            <span class="mr-6 mr-md-4 mb-1">#new_item</span>
                            <span>#interview</span>
                            <br>
                            <span class="mr-6 mr-md-4 mb-1">#trivia</span>
                            <span>#news</span>
                            <br>
                            <span>#event</span>
                        </div>
                    </div>
                </div>
            </div>
        </article>


        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>