<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>部落格｜眼鏡官網</title>
</head>

<body>
    <%- include('./layout/nav'); -%>
        <nav class="bg-aide d-sm-none">
            <div class="container-fluid">
                <div class="d-flex justify-between align-center py-3">
                    <ul class="d-flex blog-nav">
                        <li><a class="fs-5 font-bold" href="#">最新消息</a></li>
                        <li><a class="fs-5 font-bold" href="#">特別企劃</a></li>
                        <li><a class="fs-5 font-bold" href="#">新品上市</a></li>
                        <li><a class="fs-5 font-bold" href="#">鏡框小知識</a></li>
                    </ul>
                    <div>
                        <a href="#" class="d-flex">
                            <span class="material-symbols-outlined" style="width: 30px; height: 30px;">
                                search
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </nav>
        <section class="container py-20 py-sm-10">
            <h1 class="l-title fs-12 fs-sm-6 font-bold mb-8 mb-md-10 mb-sm-6">部落格</h1>
            <div class="row mb-15 mb-md-6">
                <img class="col-6 col-sm-12 mb-sm-2" src="../assets/images/blog-1.png" alt="blog">
                <div class="col-6 col-sm-12 d-flex flex-column">
                    <h2 class="fs-8 fs-md-6 text-secondar">情人特別企劃</h2>
                    <div class="d-flex justify-between align-center font-medium mb-4 mb-md-1">
                        <p class="fs-5 fs-md-4">2020 Valentine’s Special</p>
                        <span>2020/02/14</span>
                    </div>
                    <div class="d-sm-none mb-auto">
                        <p class="fs-5 fs-md-4 text-gloomy">
                            一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                            即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻
                            <span class="d-md-none">，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠</span>⋯⋯
                            <a class="text-gloomy d-none d-md-inblock" href="article.html">more</a>
                        </p>
                    </div>
                    <div class="text-right d-md-none">
                        <a class="text-secondar fs-8 font-black d-md-inlineblock" href="article.html">MORE</a>
                    </div>
                </div>
            </div>
            <div class="row mb-15 mb-md-6">
                <img class="col-6 col-sm-12 mb-sm-2" src="../assets/images/blog-2.png" alt="blog">
                <div class="col-6 col-sm-12 d-flex flex-column">
                    <h2 class="fs-8 fs-md-6 text-secondar">街頭潮人訪問</h2>
                    <div class="d-flex justify-between align-center font-medium mb-4 mb-md-1">
                        <p class="fs-5 fs-md-4">Street Interview</p>
                        <span>2020/02/02</span>
                    </div>
                    <div class="d-sm-none mb-auto">
                        <p class="fs-5 fs-md-4 text-gloomy">
                            炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T 恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3 款單品，讓你瞬間帥氣
                            <span class="d-md-none">爆棚散發型男品味</span>⋯⋯
                            <a class="text-gloomy d-none d-md-inblock" href="article.html">more</a>
                        </p>
                    </div>
                    <div class="text-right d-md-none">
                        <a class="text-secondar fs-8 font-black d-md-inlineblock" href="article.html">MORE</a>
                    </div>
                </div>
            </div>
            <div class="row mb-15 mb-md-6">
                <img class="col-6 col-sm-12 mb-sm-2" src="../assets/images/blog-3.png" alt="blog">
                <div class="col-6 col-sm-12 d-flex flex-column">
                    <h2 class="fs-8 fs-md-6 text-secondar">春季新品上市</h2>
                    <div class="d-flex justify-between align-center font-medium mb-4 mb-md-1">
                        <p class="fs-5 fs-md-4">New Selection</p>
                        <span>2020/02/02</span>
                    </div>
                    <div class="d-sm-none mb-auto">
                        <p class="fs-5 fs-md-4 text-gloomy">
                            <span class="d-md-none">2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</span>
                            <span class="d-none d-md-block">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯
                                <a class="text-gloomy d-none d-md-inblock" href="article.html">more</a>
                            </span>
                            
                        </p>
                    </div>
                    <div class="text-right d-md-none">
                        <a class="text-secondar fs-8 font-black d-md-inlineblock" href="article.html">MORE</a>
                    </div>
                </div>
            </div>
            <div class="row mb-15 mb-md-6">
                <img class="col-6 col-sm-12 mb-sm-2" src="../assets/images/blog-4.png" alt="blog">
                <div class="col-6 col-sm-12 d-flex flex-column">
                    <h2 class="fs-8 fs-md-6 text-secondar">設計師獨享鏡框優惠</h2>
                    <div class="d-flex justify-between align-center font-medium mb-4 mb-md-1">
                        <p class="fs-5 fs-md-4">Sales for Designer</p>
                        <span>2020/01/18</span>
                    </div>
                    <div class="d-sm-none mb-auto">
                        <p class="fs-5 fs-md-4 text-gloomy">
                            2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，
                            <span class="d-md-none">俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式</span>⋯⋯
                            <a class="text-gloomy d-none d-md-inblock" href="article.html">more</a>
                        </p>
                    </div>
                    <div class="text-right d-md-none">
                        <a class="text-secondar fs-8 font-black d-md-inlineblock" href="article.html">MORE</a>
                    </div>
                </div>
            </div>
            <div class="row mb-31 mb-md-20 mb-sm-16">
                <img class="col-6 col-sm-12 mb-sm-2" src="../assets/images/blog-5.png" alt="blog">
                <div class="col-6 col-sm-12 d-flex flex-column">
                    <h2 class="fs-8 fs-md-6 text-secondar">抵抗夏日大作戰</h2>
                    <div class="d-flex justify-between align-center font-medium mb-4 mb-md-1">
                        <p class="fs-5 fs-md-4">Summer Special</p>
                        <span>2019/08/07</span>
                    </div>
                    <div class="d-sm-none mb-auto">
                        <p class="fs-5 fs-md-4 text-gloomy">
                            2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，
                            <span class="d-md-none">，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式</span>⋯⋯
                            <a class="text-gloomy d-none d-md-inblock" href="article.html">more</a>
                        </p>
                    </div>
                    <div class="text-right d-md-none">
                        <a class="text-secondar fs-8 font-black d-md-inlineblock" href="article.html">MORE</a>
                    </div>
                </div>
            </div>
            <nav class="pagination">
                <ul class="d-flex justify-center align-center text-center">
                  <li class="pagination-item"><a href="#" class="pagination-number">上一頁</a></li>
                  <li class="pagination-item"><a href="#" class="pagination-number">1</a></li>
                  <li class="pagination-item"><a href="#" class="pagination-number pagination-dark">2</a></li>
                  <li class="pagination-item"><a href="#" class="pagination-number">3</a></li>
                  <li class="pagination-item"><a href="#" class="pagination-number">4</a></li>
                  <li class="pagination-item"><a href="#" class="pagination-number">5</a></li>
                  <li class="pagination-item"><a href="#" class="pagination-number">下一頁</a></li>
                </ul>
              </nav>
        </section>
        

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>